@import "variables.scss";
@import "grid.scss";
@import "fonts.scss";

body{
    //background-color: $bg-dark;
    background: rgb(125,229,163);
    background: -moz-linear-gradient(60deg, rgba(125,229,163,1) 0%, rgba(138,224,103,1) 79%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(60deg, rgba(125,229,163,1) 0%, rgba(138,224,103,1) 79%, rgba(0,212,255,1) 100%);
    background: linear-gradient(60deg, rgba(125,229,163,1) 0%, rgba(138,224,103,1) 79%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7de5a3",endColorstr="#00d4ff",GradientType=1);
    
    font-family: "DaysOne";
}

a + p:hover {
    color: pink;
}

footer{
    min-height: 50px;
}

.list-none{
    list-style: none;
}

.row{
    margin: 25px 0;
}

.w-80{
    width: 80%;
}

.bg-dark{
    background: $bg-dark;
}

.navbar-padding{
    padding: 8px 16px;
}

.text-darker-white{
    color: $darker-white;
}

.chero{
    height: calc(100vh - 56px);
    max-height: 540px;
}

.card{
    margin: 25px 0;
    border: 0;
    border-radius: 25px;
    background: $secondary;
    &--picture{
        margin: 25px auto;
        align-self: center;
        width: 50%;
        height: auto;
    }
    &--img{
        border-radius: 100%;
        border:rgba($color: #000000, $alpha: 1.0) 2px solid;
    }

    &--list{
        list-style: none;
        padding: 0;
        &--item{
            max-width: 80%;
        }
    }
}

.section{
    &--headline{
        margin: 25px 0 0 0;
    }
}

.perk{
    padding: 0 25px;
    &--background{
        background: rgb(104,185,78);
        background: -moz-linear-gradient(60deg, rgba(104,185,78,1) 0%, rgba(94,153,226,1) 79%, rgba(0,212,255,1) 100%);
        background: -webkit-linear-gradient(60deg, rgba(104,185,78,1) 0%, rgba(94,153,226,1) 79%, rgba(0,212,255,1) 100%);
        background: linear-gradient(60deg, rgba(104,185,78,1) 0%, rgba(94,153,226,1) 79%, rgba(0,212,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#68b94e",endColorstr="#00d4ff",GradientType=1);
    }

    &--img{
        width: 25%;
        margin-top: -25px;
        border-radius: 100%;
    }

    &--border{
        border: rgba($color: #000000, $alpha: 1.0) 3px solid;
    }

    @media (min-width: 1610px) {
        &--img{
            margin-top: -35px;
        }
    }
}

.footer{
    
    &--copyright{
        justify-content: center;
        &--link{
            justify-content: center;
            align-items: center;
        }
    }
}

.text-shadow{
    &--xs{
        text-shadow: 3px 3px 5px black; 
    }

    &--sm{
       text-shadow: 3px 3px 10px black; 
    }

    &--md{
        text-shadow: 3px 3px 15px black; 
    }

    &--lg{
        text-shadow: 3px 3px 20px black; 
    }

    &--xl{
        text-shadow: 3px 3px 25px black; 
    }
}

.mb{
    &-25{
        margin-bottom: 25px;
    }
}

.banner{
    width: 100%;
    min-height: 100px;
    background-size: cover;
    &--ig{
        background-image: url("../../dist/img/banner/Instagram.svg");
        background-repeat: no-repeat;
        background-color: #8870f1;
    }

    &--discord{
        background-image: url("../../dist/img/banner/discord.svg");
        background-repeat: no-repeat;
        background-color: #78a6f7;
    }

    &--yt{
        background-image: url("../../dist/img/banner/YouTube.svg");
        background-repeat: no-repeat;
        background-color: #5f1910;
    }

    &--contact{
        border:rgba($color: #000000, $alpha: 1.0) 1px solid;
        background: rgb(104,185,78);
        background: -moz-linear-gradient(60deg, rgba(104,185,78,1) 0%, rgba(94,153,226,1) 79%, rgba(0,212,255,1) 100%);
        background: -webkit-linear-gradient(60deg, rgba(104,185,78,1) 0%, rgba(94,153,226,1) 79%, rgba(0,212,255,1) 100%);
        background: linear-gradient(60deg, rgba(104,185,78,1) 0%, rgba(94,153,226,1) 79%, rgba(0,212,255,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#68b94e",endColorstr="#00d4ff",GradientType=1);
        min-height: 100px;
    }

    &--col{
        padding: 0 !important;
    }
}

.btn-primary{
    border-color: $primary;
    background-color: $primary;
}
.btn-primary:hover{
    border-color: $secondary;
    background-color: $secondary;
}